body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(252, 242, 111);
    background-position: left;
    height: 100vh;
}

.heading{
    display: flex;
    justify-content: center;
    
}
h1{
    color: #B3541E;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #FFFDA2;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFDA2;
    width: 250px;
    height: 300px;
    border-radius: 25%;
}

p{
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #4FBDBA;
}

input{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color:#4FBDBA ;
    border: none;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 35px;
    text-align: center;
    color: #072227;
    outline-style: none;
}
::placeholder{
    font-size: 15px;
}

button{
    margin-top: 15px;
    font-size: 40px;
    color: #B3541E;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #EFFFFD;
    opacity: 75%;
    border-radius:30px;
    border-style: none;
    padding: 10px;
}
.restart{
    display: none;
}
@media all and (max-width:800px){
    h1{
        font-size: 20px;
    }
    .container{
        margin-top: 10px;
    }
}
